@font-face {
    font-family: 'Poppins';
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../Fonts/Poppins/Poppins-Bold.ttf");
    font-weight: bold;
}
*{
    font-family: Poppins;
}
.textfield{
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight: bold;

}
.searchbar{
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #8C8C8C;
    -fx-font-size: 15px;

    -fx-border-color: transparent transparent #333333 transparent; /* Bordure inférieure noire */
    -fx-border-width: 0 0 2px 0; /* Épaisseur de la bordure inférieure */
}
#searchIcon{
    fx-fill: #333333;
}
.sidebarBtn{
    -fx-alignment: center-left; /* Aligne le texte à gauche horizontalement tout en le gardant centré verticalement */
    -fx-padding: 0 15px 0 15px; /* Ajuste l'espacement intérieur du bouton (gauche, haut, droite, bas) */
    -fx-background-radius: 0 ;
    -fx-text-fill: #333333;
    -fx-font-size: 22px;
    -fx-font-weight: normal;



}
.sidebarBtn FontIcon{
    -fx-fill: #333333;
}
.sidebarUnderBtn{
    -fx-alignment: center-left; /* Aligne le texte à gauche horizontalement tout en le gardant centré verticalement */
    -fx-padding: 0 15px 0 15px; /* Ajuste l'espacement intérieur du bouton (gauche, haut, droite, bas) */
    -fx-text-fill: #333333;
    -fx-font-size: 22px;
    -fx-font-weight: normal;


}
.sidebarUnderBtn FontIcon{
    -fx-fill: #333333;
}
.sidebarUnderBtn:hover{
    -fx-text-fill: #3A7B8C;
}
.sidebarUnderBtn:hover FontIcon{
    -fx-fill: #3A7B8C;
}
.sidebarUnderBtn-selected FontIcon{
    -fx-fill: #3A7B8C;
}
.sidebarUnderBtn-selected{
    -fx-alignment: center-left; /* Aligne le texte à gauche horizontalement tout en le gardant centré verticalement */
    -fx-padding: 0 15px 0 15px; /* Ajuste l'espacement intérieur du bouton (gauche, haut, droite, bas) */
    -fx-fill: #3A7B8C;
    -fx-text-fill: #3A7B8C;
    -fx-font-size: 22px;

}
.sidebarBtn:hover{
    -fx-background-color: #3A7B8C;
    -fx-text-fill: white;

}
.sidebarBtn:hover FontIcon{
    -fx-fill: white;
}
.sidebarBtn-selected{
    -fx-alignment: center-left; /* Aligne le texte à gauche horizontalement tout en le gardant centré verticalement */
    -fx-padding: 0 15px 0 15px; /* Ajuste l'espacement intérieur du bouton (gauche, haut, droite, bas) */
    -fx-background-radius: 0 ;
    -fx-background-color: #3A7B8C;
    -fx-text-fill: white;
    -fx-font-size: 22px;

}
.sidebarBtn-selected FontIcon{
    -fx-fill: white;
}
/* TABLEVIEW GLOBAL */
.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-radius: 15px;
}

.table-view .column-header {
    -fx-background-color: transparent; /* Pas de couleur ou d'effet spécifique */
    -fx-background-radius: 0; /* Pas d'arrondi à ce niveau */
    -fx-border-radius: 0;
}


/* pour enlver l'espace entre les column du tableview */
.table-view .column-header-background ,.table-view .column-header{
    -fx-padding: 0;
    -fx-border-insets: 1;
    -fx-background-insets: 1;
}
.table-view .column-header-background ,.table-view .column-header{
    -fx-padding: 5; /* Ajoute un espace autour du conteneur */
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #FFFFFF;

    -fx-min-height: 47px; /* Fixe une hauteur minimale */


}
.table-view .column-header .label {
    -fx-text-fill: #8c8c8c;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

/* LIGNES */
.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment: CENTER ;
    -fx-border-color: transparent;
    -fx-padding: 10 0 0 0;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-min-height: 40px;
}
.table-view .table-row-cell * {
    -fx-alignment: CENTER_LEFT ;
    -fx-text-alignment: CENTER;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-min-height: 40px;
}
.table-view .table-row-cell:selected {
    -fx-background-color: #dceff3;
}

/* CELLULES */
.table-view .table-cell {
    -fx-text-fill: #000000;
    -fx-font-size: 13px;
}
#deconnexionBtn{
    -fx-background-color: #3A7B8C ;
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(43, 122, 139, 0.3), 20, 0.3, 0, 0);
    -fx-border-radius: 15px ;
    -fx-background-radius: 8;

}
#deconnexionBtn:hover{
    -fx-effect: dropshadow(gaussian, rgba(43, 122, 139, 0.3), 30, 0.5, 0, 0);
}
.buttonN{
    -fx-background-color: white ;
    -fx-text-fill: #3A7B8C ;
    -fx-border-radius: 20px ;
    -fx-background-radius: 20 ;
    -fx-border-width: 2px ;
    -fx-border-color: #3A7B8C;
}
.buttonN:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
}
.buttonN FontIcon{
    -fx-fill: #3A7B8C !important;
}
#anchorPane{
    -fx-background-color: #DBECF0;
}
.labelVert{
    -fx-text-fill: #3A7B8C;
    -fx-font-size: 15px;
}
.labelbold{
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
.table-view #idFactureColumn .label {
    -fx-text-fill: #3A7B8C;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view #idFactureColumn .table-cell {
    -fx-text-fill: #3A7B8C; /* Texte bleu */
    -fx-font-size: 17px; /* Police de 15px */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-alignment: CENTER; /* Contenu centré */
}
.gestion-medicale-icon {
    -fx-translate-x: 2; /* Déplacement horizontal (+ pour droite, - pour gauche) */
    -fx-translate-y: 0; /* Déplacement vertical (+ pour bas, - pour haut) */
}
.prescriptions-icon {
    -fx-translate-x: 4; /* Déplacement horizontal (+ pour droite, - pour gauche) */
    -fx-translate-y: 0; /* Déplacement vertical (+ pour bas, - pour haut) */
}
.medecins-icon {
    -fx-translate-x: 3; /* Déplacement horizontal (+ pour droite, - pour gauche) */
    -fx-translate-y: 0; /* Déplacement vertical (+ pour bas, - pour haut) */
}
.stock-icon {
    -fx-translate-x: -2; /* Déplacement horizontal (+ pour droite, - pour gauche) */
    -fx-translate-y: 0; /* Déplacement vertical (+ pour bas, - pour haut) */
}
.detailsBtn{
    -fx-background-color: white ;
    -fx-text-fill:  #3A7B8C;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(43, 122, 139, 0.3), 20, 0.3, 0, 0);
    -fx-border-radius: 15px ;
    -fx-background-radius: 15px;
}
.facture-icon{
    -fx-translate-x: 1;
}
